body {
  font-family: sans-serif;
}

h1 {
  color: #FF8C00;
}
h6{
  font-size: 13px;
  color: #A9A9A9;
}

h2 {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}

.books {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  grid-template-columns: auto auto auto auto;
  padding: 20px 20px 40px 20px;
}
a{
  text-decoration: none;
}
