body{
  font-family: sans-serif;
}
  a {
  text-decoration: none;
}

h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 60px;
}
.para1{
  display: block;
  text-align:center;
  width: 75%;
}

.links {
  display:grid;
  justify-content: center;
  grid-template-columns: 25% 25% 25%;
  padding-bottom: 50px;

}

.column{
  display: flex;
  align-items: center;

}
img{
  float:left;
  padding-right: 10px;
}
